
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-up9 {
  background-image: url('REPLACE_IMAGE:4fa79ca7ce6304bdb3d5a8cf7a420a2cbeb140d7');
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4300000072);
  background-size: 100% 100%;
  background-position: center;
  box-sizing: border-box;
  padding: 6.5rem 5.4rem 22rem 5.4rem;
  width: 100%;
  display: flex;

  .frame-12-pRK {
    margin-bottom: 15.1rem;
    color: #ffffff;
    align-items: center;
    height: 6rem;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 3rem;
    width: 13.2rem;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: Lato, 'Source Sans Pro';
    line-height: 1.2575;
    letter-spacing: -0.005rem;
    display: flex;
    justify-content: center;
    background-color: #66ad44;
    flex-shrink: 0;
  }
  .group-2-s8h {
    height: 52.8rem;
    position: relative;
    background-color: rgba(39, 42, 39, 0.6600000262);
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 15.8rem 0rem 15.9rem;
    width: calc(100% - 31.7rem);

    .auto-group-1z5k-NbF {
      position: absolute;
      left: 2.1rem;
      top: 4.6rem;
      display: flex;
      align-items: flex-start;
      width: 70.2492rem;
      height: 16.9538rem;

      .avatar-image-60-5kZ {
        background-position: center;
        border-radius: 3rem;
        background-image: url('REPLACE_IMAGE:4bed45e482f81654b636f2737c33232f84de8593');
        margin-right: 0.9121rem;
        width: 14.9372rem;
        height: 16.2846rem;
        overflow: hidden;
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }
      .auto-group-74ay-z6q {
        flex-shrink: 0;
        width: 54.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-ayhw-ioX {
          box-sizing: border-box;
          padding-bottom: 1.4846rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-8-Tm7 {
            flex-shrink: 0;
            margin-bottom: 1.4846rem;
            display: flex;
            align-items: flex-start;

            .nama-pelatih-MED {
              margin-right: 7.1rem;
              font-size: 2.3rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item--fkh {
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.5rem;
              font-size: 2.5rem;
              font-weight: 500;
              line-height: 1.2575;
            }
            .marcus-sabote-cfw {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
            }
          }
          .frame-3-MtR {
            margin-bottom: 1.4846rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .umur-pelatih-WmK {
              font-size: 2.3rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.8rem;
            }
            .item--dqw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.4rem;
              font-size: 2.5rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
            }
            .tahun-P4R {
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
          .frame-5-821 {
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;

            .tanggal-lahir-gZK {
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 7.3rem;
              font-size: 2.3rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
            }
            .item--dDf {
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 5.8rem;
              font-size: 2.3rem;
            }
            .jakarta-23-1968-NS9 {
              color: #ffffff;
              font-family: Lato, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.5rem;
              font-weight: 500;
              line-height: 1.2575;
            }
          }
        }
        .frame-4-ugy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .alamat-pelatih-sdo {
            flex-shrink: 0;
            margin-right: 6.7rem;
            font-size: 2.3rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--d7B {
            flex-shrink: 0;
            margin-right: 4.7rem;
            font-size: 2.3rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
          .jalan-rawa-gede-rt03-rw04-NaZ {
            flex-shrink: 0;
            font-size: 2.3rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-8bjt-7HF {
      height: 2.9rem;
      position: absolute;
      left: 18.252rem;
      top: 23.3385rem;
      display: flex;
      align-items: center;
      width: 52.4493rem;

      .frame-6-dFb {
        margin-right: 4.9493rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .riwayat-pelatih-zM3 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.9rem;
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
        }
        .item--7Rf {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .melatih-di-club-2001-2005-TVX {
        flex-shrink: 0;
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 1.2575;
        text-transform: capitalize;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .bermain-di-club-real-betis-city-2012-2023-nXo {
      height: 2.9rem;
      left: 45.4013rem;
      font-size: 2.3rem;
      font-weight: 500;
      line-height: 1.2575;
      text-transform: capitalize;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      width: 41.8rem;
      position: absolute;
      top: 27.8rem;
    }
    .menjadi-pelatih-timnas-sejak-2023-sampai-sekarang-4kD {
      font-size: 2.3rem;
      font-weight: 500;
      white-space: nowrap;
      width: 51.2rem;
      height: 2.9rem;
      left: 45.5023rem;
      top: 32.2615rem;
      font-family: Lato, 'Source Sans Pro';
      position: absolute;
      line-height: 1.2575;
      text-transform: capitalize;
      color: #ffffff;
    }
    .auto-group-rhsu-m8q {
      width: 35.2rem;
      height: 2.9rem;
      position: absolute;
      left: 17.9492rem;
      top: 36.7231rem;
      display: flex;
      align-items: center;

      .frame-7-gmb {
        margin-right: 6.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .skill-pelatih-rAH {
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #ffffff;
          margin-right: 8.7rem;
          font-size: 2.3rem;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--NPX {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2575;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .passing-hwb {
        font-size: 2.3rem;
        font-weight: 500;
        line-height: 1.2575;
        text-transform: capitalize;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .dribling-FTK {
      font-weight: 500;
      line-height: 1.2575;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.1rem;
      height: 2.9rem;
      position: absolute;
      left: 45.3492rem;
      top: 40.4231rem;
      font-size: 2.3rem;
      text-transform: capitalize;
      color: #ffffff;
    }
    .jumping-NH3 {
      height: 2.9rem;
      left: 45.3492rem;
      text-transform: capitalize;
      color: #ffffff;
      font-family: Lato, 'Source Sans Pro';
      width: 8.6rem;
      position: absolute;
      top: 44.1231rem;
      font-size: 2.3rem;
      font-weight: 500;
      line-height: 1.2575;
      white-space: nowrap;
    }
  }
}
