<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600"/>
  <link rel="stylesheet" href="./styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-up9">
  <a href="../Component/Periksa.html.html" target="_blank" class="frame-12-pRK" style="text-decoration: none;">Back</a>
  <div class="group-2-s8h">
    <div class="auto-group-1z5k-NbF">
      <div class="avatar-image-60-5kZ">
      </div>
      <div class="auto-group-74ay-z6q">
        <div class="auto-group-ayhw-ioX">
          <div class="frame-8-Tm7">
            <p class="nama-pelatih-MED">Nama Pelatih  </p>
            <p class="item--fkh">:</p>
            <p class="marcus-sabote-cfw">Marcus Sabote</p>
          </div>
          <div class="frame-3-MtR">
            <p class="umur-pelatih-WmK">Umur Pelatih </p>
            <p class="item--dqw">:</p>
            <p class="tahun-P4R">65 Tahun </p>
          </div>
          <div class="frame-5-821">
            <p class="tanggal-lahir-gZK">Tanggal Lahir  </p>
            <p class="item--dDf">:</p>
            <p class="jakarta-23-1968-NS9">Jakarta -23- 1968</p>
          </div>
        </div>
        <div class="frame-4-ugy">
          <p class="alamat-pelatih-sdo">Alamat  Pelatih </p>
          <p class="item--d7B">:</p>
          <p class="jalan-rawa-gede-rt03-rw04-NaZ">Jalan Rawa Gede  Rt03 Rw04</p>
        </div>
      </div>
    </div>
    <div class="auto-group-8bjt-7HF">
      <div class="frame-6-dFb">
        <p class="riwayat-pelatih-zM3">Riwayat  Pelatih </p>
        <p class="item--7Rf">:</p>
      </div>
      <p class="melatih-di-club-2001-2005-TVX">Melatih di  club 2001-2005</p>
    </div>
    <p class="bermain-di-club-real-betis-city-2012-2023-nXo">Bermain  DI Club Real Betis  City 2012-2023  </p>
    <p class="menjadi-pelatih-timnas-sejak-2023-sampai-sekarang-4kD">Menjadi Pelatih Timnas  sejak 2023 sampai Sekarang </p>
    <div class="auto-group-rhsu-m8q">
      <div class="frame-7-gmb">
        <p class="skill-pelatih-rAH">Skill Pelatih </p>
        <p class="item--NPX">:</p>
      </div>
      <p class="passing-hwb">Passing </p>
    </div>
    <p class="dribling-FTK">Dribling </p>
    <p class="jumping-NH3">jumping</p>
  </div>
</div>
</body>