<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%3A500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600"/>
  <link rel="stylesheet" href="./styles/.css"/>
</head>
<style>

    .button_periksa{
    appearance: none;
    background: transparent;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fffefe;
    font-size: 200%;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20em;
    font-weight: 500;
    line-height: 1;
    background-color: rgb(52, 53, 53);
    padding: 2em 5.5em;
      position: relative;
    transition: filter var(--motion-duration);
    }
</style>
<body>

  
<div class="item-1-6sP">
  <h1 class="validasi-data-pelatih-V8q">Validasi Data pelatih </h1>
  <!-- <textarea class="auto-group-muw3-WJq">Marcus Sabote </textarea> -->
  <input type="text" class="auto-group-muw3-WJq"  placeholder="Search..">
  <!-- <a  class="button_periksa" href="../Component/back.html.html" target="_blank" ><button class="frame-1-EnZ">Periksa</button></a> -->
  <a  href="../Component/back.html.html" target="_blank"  class="button_periksa"  class="frame-1-EnZ"> Periksa</a>
</div>
</body>